body{
  background-color: #E8F75F;
}
.answer{
  background-color: #AD2626;
  width: auto;
  font-size: 26px;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.correct{
  background-color: #509959;
}

.btn-primary{
  background-color: #EEA47FFF;
}

.btn-primary{
  background-color: #EEA47FFF;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: #FCDCDC;
}

.title{
  margin: auto;
  background-color: #00539CFF;
  color: white;
  font-size: 30px;
}
