<div class="quizWrapper">
  <div *ngIf="quiz && !questions"></div>
  <div class="quiz" *ngIf="questions">
    <div class="questions inputGroup" *ngIf="!showResults">
      <app-question-form
        [question]="questions[currentQuestionIndex]"
        (onChoiceMade)="updateChoice($event)">
      </app-question-form>

      <button
          (click)="nextOrViewResults()"
          [disabled]="!answers.values[currentQuestionIndex]"
            >{{currentQuestionIndex === questions.length - 1 ? 'View results' : 'Next'}}</button>
          </div>

      <app-results *ngIf="showResults" [answers]="answers"></app-results>
  </div>
</div>
