.btn-primary{
  background-color: #E8F75F;
}
mat-card{
  width: 256px;
  background-color: #FCDCDC;
}

body{
  background-color: #E8F75F;
}
.mat-app-background{
  background-color: #000057;
}

.btn-primary{
  background-color: #EEA47FFF;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;
}

.title{
  margin: auto;
  background-color: #00539CFF;
  color: white;
}
