.mat-app-background{
  font-size: 26px;
}

.btn-primary{
  background-color: #EEA47FFF;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;
}

mat-card-content{
  background-color: #FCDCDC;
}

.title{
  margin: auto;
  background-color: #00539CFF;
  color: white;
  font-size: 30px;
}

.myList{
   list-style-type: none;
 }
